/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/QuizTrainer/target/
/QuizTrainer/nbproject/
/QuizTrainer/build/
/QuizTrainer/nb-configuration.xml
/QuizTrainer/nbactions.xml
/QuizTrainer/src/main/resources/
/QuizTrainer/src/test/resources/
/QuizTrainer/quiztrainer.db
/QuizTrainer/quiztrainerTest.db
